// fonts
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

$primary_color: rgb(38, 56, 70);
$secondary_color: rgb(109, 64, 121);
$title_font: 'Russo One', Helvetica, Arial, sans-serif;